.main-message
  .main-message__tag-search
    = form_tag('/search', method: :get, class: 'main-message__tag-search__search-form') do
      %input.search-form__input{name: "keyword", placeholder: " 検索したいタグを入力", type: "text", value: ""}
      %button.btn-search{title: "検索", type: "submit"}
        = icon('fas fa-search', class: "main-message__tag-search__search-form__icon")
  .main-message__contents
    = render @posts
    -# = render @comments
  -# .main-message__commentCreate
  -#   .comContainer
  -#     = form_for @comment do |form|
  -#       投稿する
  -#       .comfield
  -#         .comfield-input
  -#           = form.text_field :name, placeholder: " Nickname", autofocus: true
  -#           = form.file_field :image, class: 'comhidden'
  -#           = form.text_field :text, placeholder: " text" , rows: "1"
  -#       .comActions
  -#         = form.submit "SEND"
