.main-message
  .main-message__tag-search
    = form_tag('/search', method: :get, class: 'main-message__tag-search__search-form') do
      %input.search-form__input{name: "keyword", placeholder: " 検索したい投稿を入力", type: "text", value: ""}
      %button.btn-search{title: "検索", type: "submit"}
        = icon('fas fa-search', class: "main-message__tag-search__search-form__icon")
  .main-message__contents
    -# = render 
  -#   .o3comments
  -#     %h4
  -#       ＜コメント一覧＞
  -#     - if @comments
  -#       - @comments.each do |comment|
  -#         %p
  -#           %strong
  -#             = link_to posts_path do
  -#               - comment.user.nickname
  -#         - comment.text




  -# .main-message__commentCreate
  -#   - if current_user
  -#     = form_with model: [@post, @comment], local: true do |f|
  -#       = f.text_field :text, placeholder: "コメントする", rows: "2"
  -#       = f.submit "SEND"
  -#   - else
  -#     %strong
  -#       %p
  -#         ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

